/* typography */

@font-face {
    font-family: "EA05_Tit";
    src: url(../../fonts/EA05_Tit.ttf) format('truetype');
}

@font-face {
    font-family: "EduVIC";
    src: url(../../fonts/EduVICWANTBeginner-VariableFont_wght.ttf) format('truetype');
}

@font-face {
    font-family: "Fugaz One";
    src: url(../../fonts/FugazOne-Regular.ttf) format('truetype');
}